.home-btn {
  background: linear-gradient(90deg, #1F7FE5 24.73%, rgba(42, 163, 239, 0.94) 68.13%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-weight: bold;
  color: white;
}

.home-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  background: white;
  color: #1F7FE5;
}

.home-btn:focus {
  box-shadow: none!important;
}

.sign-in-btn {
  font-weight: bold;
}

.sign-in-btn:hover {
  background: linear-gradient(90deg, #1F7FE5 24.73%, rgba(42, 163, 239, 0.94) 68.13%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  color: white !important;
  border: none;
}

.menu-btn {
  display: none;
}

.div1-design {
  position: absolute;
  width: 80%;
  height: 700px;
  top: 75px;
  left: -17%;
  background: linear-gradient(-1.88deg, #C8E9FD -0.13%, rgba(233, 251, 255, 0) 94.92%);
  border-top-right-radius: 273px ;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 2;
  transform: skewX(-34deg)
}

.head1{
  font-size: 44px;
  color: #1157A0;
  font-weight: bold;
  word-spacing: 2px;
  z-index: 1;
  text-align: center;
  margin-top: 150px ;
  padding-left: 110px !important;
}

.des1 {
  padding-left: 150px !important;
  padding-right: 100px !important;
  margin-top: 20px;
  word-wrap: break-word;
  font-size: 18px;
  opacity: 0.9;
}

.search {
  padding-left: 150px !important;
  padding-right: 100px !important;
}

.search .input-group-text {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #A9DEF5;
  z-index: 3;
  background: white;
  opacity: 0.8;
}

.search-btn-xs .input-group-text {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #A9DEF5;
  z-index: 3;
  background: white;
  opacity: 1;
}

.search .form-control, .search .form-control:focus {
  border: none;
  border-bottom: 2px solid #A9DEF5;
  box-shadow: none!important;
  z-index:3;
  background: white;
  opacity: 0.8;
}

.search-bottom .input-group-text {
  background-color: transparent;
  border: none !important;
  opacity: 0.8;
}

.search-bottom .form-control, .search-bottom .form-control:focus {
  border:none !important;
  box-shadow: none !important;
}

.input-group {
  border: 1px solid #A9DEF5!important;
  border-radius: 5px;
}

.search-bottom .form-control::placeholder {
  text-align: center;
}

.color-lb {
  color: #2AA3EF;
}

.bg-lb {
  background: #2AA3EF;
}

.color-white {
  color: white !important;
}

.color-db {
  color: #1157A0;
}

.color-db2 {
  color: #2256BA;
}

.w-17 {
  width: 17%;
}

button.btn-search {
  font-weight: bold;
  position: absolute;
  opacity: 0.55;
  box-shadow: none !important;
  z-index: 4 !important;
  margin-left: 150px !important;
  margin-right: 100px !important;
}

.text-mid {
  font-size: 64px;
  font-weight: bold;
  z-index: 4;
  margin-top: 85px;
  margin-bottom: 40px;
}

.div2-design { 
  width: 72.3%;
  height: 100%;
  position: absolute;
  right: -150px;
  border-bottom-left-radius: 273px ;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform: skewX(-34deg);
  background: linear-gradient(179.06deg, #C8E9FD 0.72%, rgba(233, 251, 255, 0) 102.1%);
}

.section2{
  position: absolute;
  overflow-x: hidden;
  height: 700px;
  right: 0;
  margin-top: -325px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.image-center {
  margin-left: auto!important;
  margin-right: auto!important;
}

.-mt-50{
  margin-top: -50px !important;
}

.text-low {
  font-weight: bold;
  z-index: 1;
}

.cl-lb {
  color: #2CAFEF;
  font-size: 20px;
}

.color-gradient{
  font-size: 17px;
  font-weight: bold;
  background: linear-gradient(90deg, #1157A0 0%, rgba(42, 163, 239, 0.91) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cb {
  color: rgba(42, 163, 239, 0.91);
}

.mt-200 {
  margin-top: 200px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.fs-48 {
  font-size: 48px;
  color: #37495C;
  line-height: normal;
}

.fs-16 {
  font-size: 16px;
}

.font-Helvetica {
  font-family: Helvetica;
}

.fs-24 {
  font-size: 32px;
}

.tags-container {
  width: 100%;
}

.tags {
  z-index: 4 !important;
  font-weight:500;
  color: #000 !important;
  border: 0;
  box-shadow: none!important;
}

.w-60 {
  width: 60%;
}

.fw-700 {
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

.child-1 {
  background-color: #FFDCE5 !important;
}

.child-2 {
  background-color: #D1F7C4 !important;
}

.child-3 {
  background-color: #FEE2D5 !important;
}

.child-4 {
  background-color: #72DDC3 !important;
}

.child-5 {
  background-color: #9CC7FF !important;
}

.btn-bottom:focus {
  box-shadow: none !important;
}

.search-btn-xs {
  display: none !important;
}

.fs-10 {
  font-size: 10px !important;
}

.mobile-grad-bottom {
  display: none;
}

.flex-end {
  display: none;
}

.d-lg-none {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .home-btn, .sign-in-btn {
    display: none;
  }

  .logo-top {
    width: 160px !important;
    margin-left: 0 !important;
  }

  .menu-btn {
    display:inline-block;
    color: #1F7FE5;
    border: none;
    font-size: 20px;
  }

  .menu-btn:focus {
    color: #1F7FE5;
    box-shadow: none !important;
  }

  .head1, .des1, .search, .btn-search {
    display: none !important;
  }

  .search-btn-xs {
    display: block !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 75px;
  }

  .search-btn-xs .form-control {
    border: none;
    border-bottom: 2px solid #A9DEF5;
    box-shadow: none!important;
    z-index:3;
    background: white;
    opacity: 1;
    width: 250px!important;
  }

  .d-col {
    display: flex;
    flex-direction: column;
  }

  .search-btm {
    display: none !important;
  }

  .tags-container {
    font-size: 18px !important;
    width: 100%;
  }

  .inner-tag-container {
    display: flex;
    flex-direction: column;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .inner-tag-container div {
    justify-content: center !important;
    align-items: center!important;
  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tags {
    padding-left: auto !important;
    padding-right: auto !important;
  }

  .mt-200 {
    margin-top: 40px !important;
  }

  .mb-50 {
    margin-bottom: 20px !important;
  }

  .tfh {
    margin-top: 0 !important;
  }

  .fs-28 {
    font-size: 28px !important;
  }

  .fs-20 {
    font-size: 20px !important;
    width: 90% !important
  }

  .fs-19 {
    font-size: 19px !important;
    text-align: center !important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .fs-14 {
    font-size: 14px !important;
  }

  .fs-12 {
    font-size: 12px !important;
    text-align: center !important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .fs-11 {
    font-size: 11px!important;
  }

  .flex-top {
    margin-top: auto!important;
    margin-bottom: auto !important;
  }

  .mockup {
    width: 90%;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .text-grad {
    display: none!important;
  }

  body {
    overflow-x: hidden !important;
    width: 100vw ;
  }

  .div1-design {
    display: none;
  }

  .div2-design {
    display: none;
  }

  .flex-end {
    display: block;
  }

  .mobile-grad-bottom {
    display: block;
    position:absolute;
    width: 100vw;
    left: 0;
    overflow-x: hidden !important;
  }

  .gradPic {
    width: 113vw;
  }

  .imgTweet {
    z-index: 5!important;
  }

  .b-g {
    border-top: 2px solid grey;
    margin-top: 60px;
  }

  .top-x {
    top:60px;
  }

  .z-5 {
    z-index: 5 !important;
  }

  .m-xs-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .dnone {
    display: none !important;
  }

  .dblock {
    display: block !important;
  }
}